/* Feuille de style de Home : Gestion du background des boutons*/

.inscript {
	-fx-background-color: #5871e3 ;
}

.noteManag {
	-fx-background-color: #5871e3 ;
}

.studManag {
	-fx-background-color: #5871e3 ;
}

.staffManag {
	-fx-background-color: #5871e3 ;
}

.eventManag {
	-fx-background-color: #5871e3 ;
}

.Inform {
	-fx-background-color: #5871e3 ;
}

/* Gestion du hover */

.inscript:hover {
	-fx-background-color: #8d5757 ;
}

.noteManag:hover {
	-fx-background-color: #8d5757 ;
}

.studManag:hover {
	-fx-background-color: #8d5757 ;
}

.staffManag:hover {
	-fx-background-color: #8d5757 ;
}

.eventManag:hover {
	-fx-background-color: #8d5757 ;
}

.Inform:hover {
	-fx-background-color: #8d5757 ;
}
