
.ElevesInscrits {
	-fx-background-color: #43a330;
}

.GarconsInscrits {
	-fx-background-color: #474fcc;
}

.fillesInscrites{
	-fx-background-color: #ec3737;
}

.ClassesTotal {
	-fx-background-color: #fb812a;
}