.updateInfo {
	-fx-background-color: #5871e3
}

.resetInfo {
	-fx-background-color: #5871e3
}

.updateInfo:hover {
	-fx-background-color: #8d5757;
	
}

.resetInfo:hover {-fx-background-color: #8d5757;}